{% extends 'main/last_vacancies.html' %}
{% load static %}
{% block vacancies %}
<div class="job">
            <h2 class="job-name">Инженер - программист (начинающий специалист)</h2>
            <strong class="job-employer-name">Кампания: Терра, Управляющая компания</strong>

                <br>
                <strong class="job-salary">Зарплата: 75000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Краснодар</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 11:46</strong>

</div>
<div class="job">
            <h2 class="job-name">Python-разработчик (Инженер-программист)</h2>
            <strong class="job-employer-name">Кампания: Моринформсистема-Агат, Концерн</strong>

                <br>
                <strong class="job-salary">Зарплата: 90000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 17:33</strong>

</div>
<div class="job">
            <h2 class="job-name">Начинающий инженер-программист</h2>
            <strong class="job-employer-name">Кампания: ГК БИТ</strong>

                <br>
                <strong class="job-salary">Зарплата: 61700 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Уфа</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 07:11</strong>

</div>
<div class="job">
            <h2 class="job-name">Ученик программиста станков с ЧПУ</h2>
            <strong class="job-employer-name">Кампания: ПК БРАСК</strong>

                <br>
                <strong class="job-salary">Зарплата: 70000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Санкт-Петербург</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.20.2024 12:50</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер-программист C#</h2>
            <strong class="job-employer-name">Кампания: ИТЛаб</strong>

                <br>
                <strong class="job-salary">Зарплата: 150000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 13:23</strong>

</div>
<div class="job">
            <h2 class="job-name">Web-разработчик (Инженер-программист)</h2>
            <strong class="job-employer-name">Кампания: Моринформсистема-Агат, Концерн</strong>

                <br>
                <strong class="job-salary">Зарплата: 120000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 17:33</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер-разработчик ПЛИС (RTL/FPGA)</h2>
            <strong class="job-employer-name">Кампания: Райтек</strong>

                <br>
                <strong class="job-salary">Зарплата: 350000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 18:21</strong>

</div>
<div class="job">
            <h2 class="job-name">Помощник системного администратора/IT инженер</h2>
            <strong class="job-employer-name">Кампания: Самара Секьюрити Сервис</strong>

                <br>
                <strong class="job-salary">Зарплата: 49000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Самара</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 17:57</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер разработчик РЭА для АСУ ТП</h2>
            <strong class="job-employer-name">Кампания: Diamond Personnel R&C</strong>

                <br>
                <strong class="job-salary">Зарплата: 50000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 12:48</strong>

</div>
<div class="job">
            <h2 class="job-name">Оператор станков с ЧПУ</h2>
            <strong class="job-employer-name">Кампания: Цифродент</strong>

                <br>
                <strong class="job-salary">Зарплата: 50000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.20.2024 10:06</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер-программист</h2>
            <strong class="job-employer-name">Кампания: Кингисеппский Машиностроительный завод</strong>

                <br>
                <strong class="job-salary">Зарплата: 20000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Санкт-Петербург</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.20.2024 14:45</strong>

</div>
<div class="job">
            <h2 class="job-name">IT-инженер сети магазинов</h2>
            <strong class="job-employer-name">Кампания: Обермейстер</strong>

                <br>
                <strong class="job-salary">Зарплата: 10000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Владикавказ</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 17:07</strong>

</div>
<div class="job">
            <h2 class="job-name">Ведущий инженер-программист (C++, Системное ПО)</h2>
            <strong class="job-employer-name">Кампания: Моринформсистема-Агат, Концерн</strong>

                <br>
                <strong class="job-salary">Зарплата: 230000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 17:33</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер-программист (Системный программист)</h2>
            <strong class="job-employer-name">Кампания: Страна карт</strong>

                <br>
                <strong class="job-salary">Зарплата: 85000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Киров (Кировская область)</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.19.2024 08:29</strong>

</div>
<div class="job">
            <h2 class="job-name">Инженер-программист микроконтроллеров</h2>
            <strong class="job-employer-name">Кампания: Maxbionic</strong>

                <br>
                <strong class="job-salary">Зарплата: 200000 RUR</strong>


                <br>
                <strong class="job-area-name">Название региона: Москва</strong>


                <br>
                <strong class="job-published-at">Дату публикации вакансии: 01.20.2024 14:13</strong>

</div>
{% endblock %}