{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Про нас{% endblock %}

{% block content %}
  <div class="features">
      <h1>Инженер-программист</h1>
      <h2>Описание профессии</h2>
      <p>Инженер-программист занимается разработкой и отладкой программного обеспечения. На основе алгоритмов и математических моделей он создает исходный код, проверяет его работоспособность, а также выполняет унификацию и типизацию вычислительных процессов.</p>
      <p>Разрабатывает инструкции по работе с программами, оформляет необходимую техническую документацию. Определяет возможность использования готовых программных продуктов. Осуществляет сопровождение внедренных программ и программных средств. Разрабатывает и внедряет системы автоматической проверки правильности программ, типовые и стандартные программные средства, составляет технологию обработки информации. Выполняет работу по унификации и типизации вычислительных процессов.<p/>
      <img src="{% static 'main/img/main.jpg' %}" alt="Лого">
      <h2>Должностные обязанности</h2>
      <p>Инженер-программист оценивает готовое программное обеспечение на соответствие техническому заданию, выполняет поиск ошибок в исходном коде, проверяет функциональность при помощи тестовых массивов данных и исправляет найденные дефекты.

При разработке программ с нуля он определяет алгоритм выполнения задач, осуществляет выбор наиболее подходящего языка программирования, пишет программный код и выполняет процесс тестирования и отладки.</p>
      <p>Ключевые обязанности этого специалиста включают в себя:</p>
      <ul>
        <li>Анализ требований к функциональности ПО</li>
        <li>Выбор языка программирования</li>
        <li>Разработка ПО согласно требованиям технического задания</li>
        <li>Написание и доработка исходного кода</li>
        <li>Проектирование интерфейса программы</li>
        <li>Разработка процедур обновления ПО</li>
        <li>Тестирование и отладка</li>
        <li>Разработка форм отчетов и документов, подлежащих обработке при помощи вычислительных средств</li>
        <li>Оформление технической документации и инструкций по работе с программным обеспечением</li>
        <li>Типизация вычислительных процессов</li>
        <li>Контроль процесса внедрения ПО</li>
      </ul>
      <h2>Карьера и зарплата</h2>
      <p>Инженеры-программисты востребованы в компаниях-разработчиках программного обеспечения, системных интеграторах, digital-студиях и других предприятиях IT-сферы.

Уровень дохода зависит от профессиональных навыков, размера компании и уровня реализованных проектов. Средняя заработная плата специалиста с опытом работы от 1 до 3 лет составляет около 90 000 рублей в месяц. Ведущий специалист может ежемесячно зарабатывать от 120 000 до 150 000 рублей.</p>
  </div>
{% endblock %}