<p><table class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: black;text-align: left;border-bottom: 2px solid #808080;padding: 0px 20px 0px 0px;width: auto">Год</th>
      <th style = "background-color: #FFFFFF;font-family: Century Gothic, sans-serif;font-size: medium;color: black;text-align: left;border-bottom: 2px solid #808080;padding: 0px 20px 0px 0px;width: auto">Ключевые навыки</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2015</td>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">QA: 357, Тестирование: 338, Test case: 324, Git: 200, Linux: 189, SVN: 170, TeamCity: 161, Jenkins: 156, Администрирование серверов Windows: 131, Администрирование сетевого оборудования: 127, Active Directory: 126, Настройка сетевых подключений: 125, Информационная безопасность: 122, Информационные технологии: 122, системное администрирование: 121, Администрирование серверов: 120, Ruby: 116, Python: 96, Java: 92, SQL: 59</td>
    </tr>
    <tr>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2016</td>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Linux: 574, Java: 487, QA: 447, Python: 417, SQL: 296, Тестирование: 263, JavaScript: 245, Английский язык: 237, C++: 214, Git: 207, C#: 186, Bash: 167, MySQL: 159, Функциональное тестирование: 138, C/C++: 130, Test case: 129, HTML: 128, Selenium IDE: 127, Atlassian Jira: 123, Регресcионное тестирование: 122</td>
    </tr>
    <tr>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2017</td>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Java: 736, QA: 710, Linux: 663, Python: 529, Тестирование: 499, JavaScript: 473, SQL: 470, Git: 398, Английский язык: 390, Функциональное тестирование: 321, C#: 300, Test case: 255, Selenium IDE: 245, Atlassian Jira: 240, C++: 234, Регресcионное тестирование: 225, Тестирование пользовательского интерфейса: 223, MySQL: 217, Jenkins: 209, HTML: 187</td>
    </tr>
    <tr>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2018</td>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Linux: 1483, Java: 1471, Python: 1391, QA: 1179, SQL: 1128, Git: 1013, JavaScript: 975, Тестирование: 820, Английский язык: 762, C#: 691, MySQL: 675, C++: 654, Функциональное тестирование: 590, HTML: 572, Jenkins: 497, Atlassian Jira: 497, CSS: 438, Test case: 426, Business English: 412, .NET Framework: 382</td>
    </tr>
    <tr>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2019</td>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Linux: 2316, Python: 2286, SQL: 1900, Java: 1797, QA: 1547, Git: 1427, Английский язык: 1413, Тестирование: 1225, JavaScript: 1008, Функциональное тестирование: 972, Atlassian Jira: 830, Jenkins: 651, Docker: 641, Test case: 639, PostgreSQL: 621, Bash: 616, Тестирование пользовательского интерфейса: 612, MySQL: 584, HTML: 568, C#: 550</td>
    </tr>
    <tr>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2020</td>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Linux: 4921, SQL: 4897, Python: 4805, Java: 3528, Git: 3237, Английский язык: 2902, Atlassian Jira: 2428, Тестирование: 2311, Функциональное тестирование: 1900, QA: 1776, JavaScript: 1354, Bash: 1310, PostgreSQL: 1307, Test case: 1261, Docker: 1089, C++: 1002, Тестирование пользовательского интерфейса: 959, MySQL: 879, Scrum: 811, Kubernetes: 804</td>
    </tr>
    <tr>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2021</td>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">SQL: 10160, Python: 8771, Linux: 8300, Английский язык: 7108, Git: 6914, Java: 5865, Atlassian Jira: 4844, Тестирование: 4605, Функциональное тестирование: 3626, QA: 3073, Docker: 2903, PostgreSQL: 2517, Test case: 2488, JavaScript: 2469, Bash: 2267, Kubernetes: 2085, AWS: 2012, Тестирование пользовательского интерфейса: 1825, Scrum: 1537, C#: 1506</td>
    </tr>
    <tr>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2022</td>
      <td style = "background-color: white; color: black;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">SQL: 8949, Python: 8292, Linux: 7354, Английский язык: 6200, Git: 6137, Java: 4233, Docker: 3909, Тестирование: 3697, Atlassian Jira: 3527, Kubernetes: 2800, Функциональное тестирование: 2799, PostgreSQL: 2635, QA: 2574, Bash: 2053, AWS: 2007, CI/CD: 1822, Jenkins: 1791, Ansible: 1626, Test case: 1501, JavaScript: 1479</td>
    </tr>
    <tr>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">2023</td>
      <td style = "background-color: #EDEDED;font-family: Century Gothic, sans-serif;font-size: medium;text-align: left;padding: 0px 20px 0px 0px;width: auto">Python: 5075, SQL: 4955, Linux: 4069, Git: 2765, Тестирование: 2373, Docker: 2296, QA: 2203, Java: 2021, Kubernetes: 1886, PostgreSQL: 1822, Английский язык: 1703, Функциональное тестирование: 1657, CI/CD: 1369, Bash: 1330, Postman: 1305, API: 1222, Atlassian Jira: 1212, Ansible: 1080, ETL: 995, Jenkins: 982</td>
    </tr>
  </tbody>
</table></p>